.head-container {
    background-image: url(../img/yas-golf-collection-15-1 1.jpg);
}
.h1 {
    font-family: 'Kaisei Opti';
}
.hero-subtitle {
    font-family: 'Kaisei Opti';
    font-size: 22px;
    font-weight: 400;
}