@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

.head-container {
    background-image: url(../Yas%20Golf/img/yas-golf-collection-15-1 1.jpg);
}
.container {
    max-width: 1280px; /* Set the maximum width to 1280px */
    margin: 0 auto; /* Center the block horizontally */
    width: 100%; /* Ensure the block takes up full width until it reaches max-width */
    box-sizing: border-box; /* Include padding and border in the width */
}
.h1 {
    font-family: 'Kaisei Opti';
}
.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    max-width: 600px;
}
.hero-title {
    font-family: 'Kaisei Opti', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: aliceblue;
    margin-top: 177px;
}
.hero-subtitle {
    font-family: 'Kaisei Opti', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 20px;
    color: aliceblue;
    width: 100%;
}
.register-btn {
    width: 207px;
    border: 1.5px solid #FFFFFF;
    border-radius: 9px;
    color: white;
    margin-top: 30px;
}
   /* Custom styles for header */
.hero-section {
    background-image:  linear-gradient(8.57deg, rgba(0, 0, 0, 0.5) 5.92%, #002B63 112.4%), url('../img/Header-0213501.jpg');
    background-color: aquamarine;    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.enquire-btn {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 8px 16px;
}
.contact-form {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 25px;
    max-width: 400px;
}
.form-title {
    font-family: 'Kaisei Opti', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #163E5A;
    text-align: center;
}
.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2; /* Matches 119.98% */
    letter-spacing: -0.01em;
    color: #FFFFFF; /* Default text color */
    background-color: transparent; /* No background by default */
    padding: 8px 16px; /* Add some padding */
    border-radius: 15px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: all 0.3s ease; /* Smooth transition */
}
.menu-link:hover {
    background-color: #00AEEF; /* Light blue background */
    color: #FFFFFF; /* Text stays white */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for hover */
    transform: translateY(-2px); /* Slight lift on hover */
}